@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

.navbar {
  font-size: 18px;
  background: transparent;
  padding-bottom: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
}
.Add,
.Search {
  display: none;
}

.nav-links {
  text-decoration: none;
  color: rgb(255, 248, 248);
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(248, 248, 248, 0.8);
  font-size: 24px;
}

#chkToggle {
  display: none;
}
#chkHome {
  display: none;
}
#chkSearch {
  display: none;
}
#chkHome:checked + ul.Add {
  display: block;
}
#chkSearch:checked + ul.Search {
  display: block;
}
#chkToggle:checked + ul.main-nav {
  display: block;
}
ul {
  list-style-type: none;
}
input {
  border-radius: 5px;
  border-color: #5d1049;
}
@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  #chkToggle:checked + ul.main-nav {
    display: flex;
  }

  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin: 40px;
    color: rgb(255, 255, 255);
  }

  .navbar-toggle {
    display: none;
  }

  .nav-links:hover {
    cursor: pointer;
  }
}
.menu img {
  width: 30px;
}
